.heading {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 1133px;
  margin: 0 auto;
  text-align: center;
}

.label {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-transform: capitalize;

  background: linear-gradient(93.66deg, #1952f1 0%, #418df8 98.87%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  max-width: 861px;
  margin: 0 auto;
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
  letter-spacing: -0.05em;

  background: linear-gradient(109.6deg, #020218 52.82%, #1948bd 103.54%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1024px) {
  .heading {
    padding-inline: 24px;
  }
  .label {
    font-size: 20px;
    line-height: 24px;
  }

  .title {
    font-size: 40px;
    line-height: 54px;
  }
}

@media (max-width: 767px) {
  .heading {
    gap: 8px;
    padding-inline: 16px;
  }

  .label {
    font-size: 16px;
    line-height: 20px;
  }

  .title {
    font-size: 30px;
    line-height: 40px;
  }
}
