.page {
  width: 100%;
}

.hero {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(
    183.44deg,
    rgba(202, 235, 253, 0.61) 4.45%,
    rgba(206, 213, 249, 0.61) 20.94%,
    rgba(255, 255, 255, 0.61) 38.74%
  );
  overflow-x: clip;
  border: 2px solid blue;
}

.heroHeader {
  width: 100%;
  border: 2px solid green;
}

@media (max-width: 1024px) {
  .hero {
    min-height: auto;
    padding-bottom: 4rem;
  }
}

@media (max-width: 767px) {
  .hero {
    padding-bottom: 3rem;
  }
}
