.page {
  width: 100%;
}

.hero {
  position: relative;
  min-height: 100vh;
  background:
    linear-gradient(
      75deg,
      rgba(202, 235, 253, 0.61) 4.45%,
      rgba(206, 213, 249, 0.61) 20.94%,
      rgba(255, 255, 255, 0) 38.74%
    ),
    linear-gradient(
      -75deg,
      rgba(202, 235, 253, 0.61) 4.45%,
      rgba(206, 213, 249, 0.61) 20.94%,
      rgba(255, 255, 255, 0) 38.74%
    ),
    linear-gradient(
      0deg,
      rgba(202, 235, 253, 0.61) 4.45%,
      rgba(206, 213, 249, 0.61) 20.94%,
      rgba(255, 255, 255, 0) 38.74%
    ),
    #ffffff;
  overflow-x: clip;
  border: 2px solid blue;
}

.heroHeader {
  width: 100%;
  /* border: 2px solid green; */
}

.forLenders {
  padding-top: 135px;
  /* border: 2px solid yellow; */
}

.forAgencies {
  padding-top: 240px;
  /* border: 4px solid brown; */
}

.testimonials {
  padding-top: 180px; /* 4198 − (3548 + 470) */
}

.footer {
  padding-top: 168px; /* 5336.6 − (5084 + 84) */
  background:
    linear-gradient(
      75deg,
      rgba(202, 235, 253, 0.61) 4.45%,
      rgba(206, 213, 249, 0.61) 20.94%,
      rgba(255, 255, 255, 0) 38.74%
    ),
    linear-gradient(
      -75deg,
      rgba(202, 235, 253, 0.61) 4.45%,
      rgba(206, 213, 249, 0.61) 20.94%,
      rgba(255, 255, 255, 0) 38.74%
    ),
    linear-gradient(
      0deg,
      rgba(202, 235, 253, 0.61) 4.45%,
      rgba(206, 213, 249, 0.61) 20.94%,
      rgba(255, 255, 255, 0) 38.74%
    ),
    #ffffff;
}

@media (max-width: 1024px) {
  .hero {
    min-height: auto;
    padding-bottom: 4rem;
  }
  .forLenders {
    padding-top: 80px;
  }
  .forAgencies {
    padding-top: 120px;
  }
  .testimonials {
    padding-top: 100px;
  }
  .footer {
    padding-top: 100px;
  }
}

@media (max-width: 767px) {
  .hero {
    padding-bottom: 3rem;
  }
  .forLenders {
    padding-top: 56px;
  }
  .forAgencies {
    padding-top: 80px;
  }
  .testimonials {
    padding-top: 64px;
  }
  .footer {
    padding-top: 64px;
  }
}
